@charset "UTF-8";

.flexbox-containerMessage {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

img {
  transition: transform .2s;
}

img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}